body{
    margin:0;
    padding: 0; 
}
.fondo{
    background-image: url('../imagenes/fondo.jpg');
    width: 100%;
    height:  100vh;
    background-size: cover ;
    background-position: center;
    position: absolute;
}
                             /*--------------------------productos---------------------*/
.grup {
  margin: 1%;
  height:  280px;
}
.grup p{
text-align: center;

tab-size: 10px;
}
.grup img { 
height:100px;
}

.contenedor {
  
/*  background-color: rgb(37,176 , 144);*/
height: auto;
    
}
  .img1 {
/*    Chatarra*/

background: #FFFFFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #b29f94, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #b29f94, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    
     
  }
  .img2 {

/*      Constructores*/

background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */






  }
  .img4 {
/*    Reguladores */
background: #A1FFCE;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFFFF, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
  .img3 {
  
/*    Energeticos*/
background: #fffc00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */





  }
  .posision {
    margin-top: 2%;
    height:  280px;
  }
                                   /*------------------------Lonchera-------------*/
  .lonchera{
    
    background-image: url('../imagenes/lonchera.png');
    width:40%;
    height:  38vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position:relative;
    left:28%;
}
.cc2{
  /*border: 6px solid rgb(156, 58, 58);*/
  height : 240px;
}
.cc2 img{
margin-left:15%;
margin-top :40% ;
height: 100px;
height: 70px;
}
.cc{

  height : 100px;
  width:100%;
  margin-top :50% ;
}
.cc3{
  margin-top :4% ;
  
}

.lonchera img{

  height: 70px;
  background-position: center;
}
.lonchCont{
margin-left: 5px;
}
.cont1{  }
.cont2{  }
.cont3{  }
/*--------------------boton puntaje-----------------*/
button{
    outline: none;
  font-size: 200%;
  font-family: 'courier';
  
  font-weight: bold;
  margin-top: 4%;
    margin-bottom: 4%;
/*  border-radius: 20px;*/
  position: relative;
  left:40%;
  border: 3px solid 37,176 , 144;

}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}


